@font-face {
font-family: minim;
src: url("fonts/minim.otf") format("opentype");
}
@font-face {
font-family: koverwatch;
src: url("fonts/koverwatch.ttf") format("truetype");
}
@font-face {
font-family: VeraMono;
src: url("fonts/VeraMono.ttf") format("truetype");
}
@font-face {
font-family: slkscreb;
src: url("fonts/slkscreb.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-Bold;
src: url("fonts/Novecentosanswide-Bold.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-Book;
src: url("fonts/Novecentosanswide-Book.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-DemiBold;
src: url("fonts/Novecentosanswide-DemiBold.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-Light;
src: url("fonts/Novecentosanswide-Light.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-Medium;
src: url("fonts/Novecentosanswide-Medium.ttf") format("truetype");
}
@font-face {
font-family: Novecentosanswide-Normal;
src: url("fonts/Novecentosanswide-Normal.ttf") format("truetype");
}
