/**
 * shine
 */

.shine {
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

/**
 * The "shine" element
 .shine:nth-child(1) { background: cornflowerblue; }
.shine:nth-child(2) { background: salmon; }
.shine:nth-child(3) { background: gray; }
 */

.shine:after {
  content: "";
  position: absolute;
  top: -310%;
  left: -410%;
  width: 300%;
  height: 300%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */
.shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.shine:active:after {
  opacity: 0;
}