@font-face {
font-family: Novecentosanswide-Book;
src: url("fonts/Novecentosanswide-Book.ttf") format("truetype");
}
@font-face {
font-family: test;
src: url("fonts/Novecentosanswide-Medium.ttf") format("truetype");
}