    /* one-page-responsive-parallax-skeleton */
    /* Jovanie De La Cruz
   Mobile First Web Design
   Jovanie.me v0.4       
*/
    /* Modified Version of Skeleton V2.0.4
   Copyright 2014, Dave Gamache
   www.getskeleton.com
   Free to use under the MIT license.
   http://www.opensource.org/licenses/mit-license.php
   12/29/2014
*/
    
    html {
        font-size: 62.5%;
        background-color: white;
    }
    
    body {
        font-size: 1.5em;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        min-width: 320px;
        font-family: Novecentosanswide-Book;
        text-transform: none;
    }
    /* Standard Styles Mobile First */
    
    .container {
        position: relative;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
    
    .row {}
    
    .column,
    .columns {
        width: 100%;
        float: left;
    }
    
    .three.columns {
        width: 50%;
    }
    
    .one-half.column {
        width: 100%;
    }
    /* Self Clearing Goodness */
    
    .container:after,
    .row:after,
    .u-cf {
        content: "";
        display: table;
        clear: both;
    }
    
    .textbox {
        padding: 2em;
        font-size: 1.5em;
    }
    
    p {
        font-family: Lato-Light;
    }
    /* Parallax Windows
*/
    
    .parallax-window {
        min-height: 300px;
        overflow: hidden;
    }
    .first {
        min-height: 600px;
    }
    
    .parallax-window .head-wrap {
        position: relative;
        top: 50%;
        left: 50%;
        width: 400px;
        margin-top: 240px;
        /* Half the height */
        margin-left: -200px;
        /* Half the width */
    }
    
    .parallax-window h3 {
        font-family: Novecentosanswide-Medium;
        text-align: center;
        color: white;
        font-size: 1.25em;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    
    .parallax-window h1 {
        position: relative;
        top: 50%;
        left: 50%;
        width: 600px;
        margin-top: 125px;
        /* Half the height */
        margin-left: -300px;
        /* Half the width */
        text-align: center;
        color: white;
        display: block;
        font-size: 4em;
    }
    /* Grid Full Images and Text Overlay 
*/
    
    .grid-image {
        float: left;
        width: 100%;
        height: 100%;
        padding-bottom: 100%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    
    .grid-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    
    .grid-image img:hover {}
    
    .grid-text {
        font-family: Novecentosanswide-Light;
        width: 100%;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2em;
    }
    
    .contact {
        padding: 3em 3em 3em 3em;
    }
    /* Smart Phone Styles 500px - 767px 
   All gird items are 2 per row
*/
    
    @media screen and (min-width: 500px) {
        .container {
            max-width: 767px;
        }
        .three.columns {
            width: 50%;
        }
        .one-half.column {
            width: 100%;
        }
        .parallax-window .head-wrap {
            width: 500px;
            margin-left: -250px;
            /* Half the width */
        }
        .parallax-window h3 {
            font-size: 1.5em;
            letter-spacing: 3px;
        }
        .parallax-window {
            min-height: 350px;
        }
        .parallax-window h1 {
            margin-top: 140px;
        }
        .first {
            min-height: 600px;
        }
        .grid-text {
            font-size: 3em;
        }
    }
    /* Tablet Styles 768px +
   Normal Grid items
*/
    
    @media screen and (min-width: 767px) {
        .container {
            width: 100%;
            max-width: 960px;
        }
        .column,
        .columns {
            margin-left: 0%;
        }
        .column:first-child,
        .columns:first-child {
            margin-left: 0;
        }
        .three.columns {
            width: 25%;
        }
        .one-half.column {
            width: 46%;
            margin-left: 2%;
            margin-right: 2%;
        }
        .grid-image {
            margin: 0em auto;
        }
        .parallax-window .head-wrap {
            width: 750px;
            margin-left: -375px;
            /* Half the width */
        }
        .parallax-window h3 {
            font-size: 2em;
            letter-spacing: 3px;
        }
        .grid-text {
            font-size: 2em;
        }
    }
    /* Desktop Styles 768px +
*/
    
    @media screen and (min-width: 990px) {
        .container {
            width: 100%;
            max-width: 100%;
        }
        .column,
        .columns {
            margin-left: 0;
        }
        .column:first-child,
        .columns:first-child {
            margin-left: 0;
        }
        .three.columns {
            width: 25%;
        }
        .one-half.column {
            width: 48%;
            margin-left: 0%;
            margin-right: 0%;
        }
        .grid-image {
            overflow: hidden;
        }
        .grid-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            -webkit-filter: blur(3px);
            filter: blur(3px) grayscale(100%);
            transition: 0.20s -webkit-filter linear;
            transform: scale(1.03);
        }
        .grid-image:hover img {
            -webkit-filter: blur(0px);
            filter: blur(0px);
            transition: 0.20s -webkit-filter linear;
        }
        .parallax-window .head-wrap {
            width: 1000px;
            margin-left: -500px;
            /* Half the width */
        }
        .parallax-window h3 {
            font-size: 3em;
            letter-spacing: 3px;
        }.grid-text {
            font-size:3em ;
        }
    }
    /* Contact Form
*/
    
    .form-style-7 {
        max-width: 400px;
        margin: 0 auto;
        border-radius: 2px;
    }
    
    .form-style-7 h2 {
        display: block;
        text-align: center;
        padding: 0;
        color: #5C5C5C;
        font-size: x-large;
    }
    
    .form-style-7 ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .form-style-7 li {
        display: block;
        padding: 9px;
        border: 1px solid #DDDDDD;
        margin-bottom: 30px;
        border-radius: 3px;
    }
    
    .form-style-7 li:last-child {
        border: none;
        margin-bottom: 0px;
        text-align: center;
    }
    
    .form-style-7 li > label {
        display: block;
        float: left;
        margin-top: -19px;
        background: #FFFFFF;
        height: 14px;
        padding: 2px 5px 2px 5px;
        color: #B9B9B9;
        font-size: 14px;
        overflow: hidden;
    }
    
    .form-style-7 input[type="text"],
    .form-style-7 input[type="date"],
    .form-style-7 input[type="datetime"],
    .form-style-7 input[type="email"],
    .form-style-7 input[type="number"],
    .form-style-7 input[type="search"],
    .form-style-7 input[type="time"],
    .form-style-7 input[type="url"],
    .form-style-7 input[type="password"],
    .form-style-7 textarea,
    .form-style-7 select {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        display: block;
        outline: none;
        border: none;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        padding: 0;
    }
    
    .form-style-7 li > span {
        background: #F3F3F3;
        display: block;
        padding: 3px;
        margin: 0 -9px -9px -9px;
        text-align: center;
        color: #C0C0C0;
        font-size: 11px;
    }
    
    .form-style-7 textarea {
        resize: none;
    }
    
    .form-style-7 input[type="submit"],
    .form-style-7 input[type="button"] {
        background: black;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 3px;
        color: white;
        font-size: 1em;
    }
    
    .form-style-7 input[type="submit"]:hover,
    .form-style-7 input[type="button"]:hover {
        background: #999;
        color: #fff;
    }
    /* Social Links
*/
    
    i {
        width: 100px;
        height: 100px;
        text-align: center;
    }
    
    .centerTable {
        margin: 0px auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
    }
    
    .tablesocial {
        float: left;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .tablesocial a {
        color: black;
    }

.detail-wrap {
}
.details{
}

.thumbnails {
}

.thumbnails > a {
    display: block;
}

.thumbnails a.open{
}

.detail {
    
    display: none;
    top:0;
    left:0;
}

.detail.open{
    display:block;
    background-color: grey;
}

.detail p {
}